{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "parser": "babel-eslint",
    "plugins": [
        "prettier"
    ],
    "rules": {
        "function-paren-newline": [
            "error",
            "consistent"
        ],
        "import/no-dynamic-require": 0,
        "indent": [
            "error",
            4
        ],
        "jsx-a11y/href-no-hash": "off",
        "linebreak-style": [
            "error",
            "unix"
        ],
        "no-undef": "error",
        "no-underscore-dangle": [
            2,
            {
                "allow": [
                    "_type"
                ]
            }
        ],
        "quotes": [
            "error",
            "double"
        ],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "react/jsx-indent": [
            2,
            4
        ],
        "react/jsx-indent-props": [
            2,
            4
        ],
        "semi": [
            "error",
            "always"
        ]
    }
}
